.text-container {
}

.text-container label span {
  color: red;
}

.text-container input[type="text"] {
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--text-gray);
  outline: none;
  border-radius: 5px;
}
