@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #f1eee3;
  --secondary-color: #1c212d;
  --action-color: #dd6367;
  --white-color: #fdfbf7;
  --text-gray: #343a40;

  --border-blue: #4f91f0;
  --hover-blue: #e9f0fe;
  --blue-500: #0066fe; /* background color of check icon */
  --blue-400: #317ce8; /*selected text*/
  --text-dark: #031526;
  --gray-100: #dee0e7; /*border check box*/
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
